<div class="flex flex-column min-h-screen">
  <nav class="surface-0 shadow-2 mb-3 p-3 flex align-items-center justify-content-between">
     <div class="flex align-items-center">
    <i class="pi pi-angular text-2xl mr-2"></i>
    <span class="font-bold text-xl">Angular Starter</span>
  </div>
  <ul class="list-none flex gap-3 m-0 p-0">
    <li>
      <a pRipple routerLink="/" class="flex align-items-center gap-2 text-secondary">
        <i class="pi pi-home"></i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a pRipple routerLink="/about" class="flex align-items-center gap-2 text-secondary">
        <i class="pi pi-info-circle"></i>
        <span>About</span>
      </a>
    </li>
    <li>
      <a pRipple routerLink="/contact" class="flex align-items-center gap-2 text-secondary">
        <i class="pi pi-envelope"></i>
        <span>Contact</span>
      </a>
    </li>
  </ul>
  </nav>
  <main class="flex-1">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-footer />
</div>
